<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<import class="ch.qos.logback.core.ConsoleAppender" />
	<import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
	<import class="ch.qos.logback.core.rolling.RollingFileAppender" />
	<import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy" />


	<!-- All log files located in logs file of the project -->
	<property name="LOGS" value="./logs" />

	<!-- Define the console log format -->
	<appender name="Console" class="ConsoleAppender">
		<encoder class="PatternLayoutEncoder">
			<Pattern>
				%d{ISO8601} %-5level [%t] %C{1}: %msg%n%throwable
			</Pattern>
		</encoder>
	</appender>

	<appender name="RollingFileByDate" class="RollingFileAppender">
		<file>${LOGS}/ledenadministratie.log</file>

		<rollingPolicy class="TimeBasedRollingPolicy">
			<fileNamePattern>
				${LOGS}/ledenadministratie-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>

		<encoder class="PatternLayoutEncoder">
			<Pattern>%d %p %C{1} [%t] %m%n</Pattern>
		</encoder>
	</appender>

	<!-- LOG everything at info level -->
	<root level="info">
		<appender-ref ref="RollingFileByDate" />
		<appender-ref ref="Console" />
	</root>

</configuration>